html {
    height: 100vh;
}

body {
    background-color: #8000ff;
}

.app {
    border: 1px solid white;
    border-radius: 25px 25px;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    background-color: #9933ff;
}

.score {
    color: white;
    text-align: center;
}
