.triviaContainer{
    text-align: center;
    /* margin: 0 auto; */
    justify-content: center;
    color: #f3e6ff;
}

button {
    background-color: #dab3ff;
    color: #1a0033;
    font-size: 1.5em;
    min-height: 8vh;
    height: 15vh;
    min-width: 8vh;
    width: 25vh;
    justify-content: center;
    border: 1px solid #28004d;
    border-radius: 15px;
    display: flex;
    margin: 0 auto;
}